include:
  - project: 'shared/gitlab-ci-includes'
    ref: main
    file:
      - '/base.yml'
      - '/pypi-packages.yml'
      - '/debian-packages.yml'
      - '/python.yml'

variables:
  APTLY_BASE_REPOSITORY: cluster

stages:
  - test
  - build
  - publish

unit test and feature test:
  stage: test
  image: python:3.13
  services:
    - name: stoplight/prism:5.14.3
      alias: prism
      command: [ "mock", "-h", "0.0.0.0", "https://cluster-api-staging.cyberfusion.nl/openapi.json" ]
  script:
    - !reference [.add repositories, script]
    - pip install --no-cache-dir -r requirements/test.txt
    - pip install .
    - pytest -n 10 -vvv --cov-branch --cov=cyberfusion.CoreApiClient --cov-config=.coveragerc --cov-fail-under=99 --junitxml=report-pytest.xml --server-url http://prism:4010 --count=10
  artifacts:
    reports:
      junit: report-*.xml
